* {
  font-weight: 700 !important;
}
header {
  padding: 55px;
}

.btn {
  background: linear-gradient(270deg, #fa6262 0%, #f8875f 100%);
}

.nav-item .nav-link {
  color: #333b69 !important;
}
.nav-item.active .nav-link,
.nav-item .nav-link:hover {
  color: #fa6262 !important;
}
