* {
  font-weight: 700 !important;
}
header {
  padding: 55px;
}

/* @media only screen and (min-width: 992px) {
  header {
    position: relative;
  }
  .btn {
    position: absolute;
    right: 100px;
    top: 70px;
  }
}

@media only screen and (max-width: 992px) {
  .btn {
    width: 100%;
  }
} */
.btn {
  background: linear-gradient(270deg, #fa6262 0%, #f8875f 100%);
}

.nav-item .nav-link {
  color: #333b69 !important;
}
.nav-item.active .nav-link,
.nav-item .nav-link:hover {
  color: #fa6262 !important;
}
